* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  background: url(../img/background.jpg);
  background-repeat: repeat;
}

/*-------------------------------*/
/*-------------------------------*/
/*--CABEZOTE--*/

header {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 83px;
  background: url(../img/cabezote.jpg);
}

#logo {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 188px;
  height: 47px;
}

/*--FIN CABEZOTE--*/
/*-------------------------------*/
/*-------------------------------*/
/*--BARRA DE NAVEGACIÓN--*/

nav {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 45px;
  border-bottom: 1px solid #bcd1cb;
  background: url(../img/nav.jpg);
}

nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 45px;
}

nav ul li {
  float: left;
  width: 124px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: white;
  border-right: 1px solid #bcd1cb;
}

/*--FIN BARRA DE NAVEGACIÓN--*/
/*-------------------------------*/
/*-------------------------------*/
/*--SLIDE--*/

#slide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 301px;
}

/*--FIN SLIDE--*/
/*-------------------------------*/
/*-------------------------------*/
/*--BOTONERA SLIDE--*/

#botoneraSlide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 26px;
  background: url(../img/backBotonesSlide.jpg);
}

#botoneraSlide ul {
  position: relative;
  margin: auto;
  width: 100px;
  height: 26px;
}

#botoneraSlide ul li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #232d80;
  border: 3px solid white;
  margin: 3px 2px;
}

/*--FIN BOTONERA SLIDE--*/
/*-------------------------------*/
/*-------------------------------*/
/*--SECTION INICIO--*/

section#inicio {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}

section#inicio ul li {
  float: left;
  width: 333px;
  height: 299px;
}

section#inicio ul li h1 {
  margin: 23px 27px;
  font-weight: 100;
  font-size: 25px;
}

section#inicio ul li p {
  margin: 23px 28px;
  font-size: 15px;
}

section#inicio ul li img {
  margin: 1px 29px;
  width: 273px;
  height: 83px;
  background: silver;
}

/*--FIN SECTION INICIO--*/
/*-------------------------------*/
/*-------------------------------*/
/*--SECTION QUIENES SOMOS--*/

section#quienesSomos {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  /*background:url(../img/quienesSomos.jpg);*/
  background: white;
}

section#quienesSomos h1 {
  position: relative;
  top: 15px;
  left: 27px;
  color: #1f1d21;
  font-weight: 100;
}

section#quienesSomos hr {
  position: relative;
  top: 20px;
  width: 950px;
  margin: auto;
  border: 1px solid #c6c6c6c6;
}

section#quienesSomos p {
  position: relative;
  top: 40px;
  width: 950px;
  margin: auto;
  color: #414042;
  text-align: justify;
}

section#quienesSomos img {
  float: left;
  width: 272px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*--FIN SECTION QUIENES SOMOS--*/
/*-------------------------------*/
/*-------------------------------*/
/*--SECTION SERVICIOS--*/

section#servicios {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}

section#servicios #cajaServicios {
  position: relative;
  width: 935px;
  margin: auto;
  top: 18px;
  height: 262px;
  background: white;
  box-shadow: 0px 0px 30px #222;
}

section#servicios #cajaServicios ul#lista {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 151px;
  height: 220px;
}

section#servicios #cajaServicios ul#lista li {
  width: 151px;
  height: 72px;
  margin: 2px 0;
  cursor: pointer;
}

section#servicios #cajaServicios ul#visor {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 732px;
  height: 220px;
}

section#servicios #cajaServicios ul#visor li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 732px;
  height: 220px;
}

section#servicios #cajaServicios ul#visor li h1 {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  color: #4d545a;
  font-weight: 100;
}

section#servicios #cajaServicios ul#visor li p {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 97%;
  line-height: 60px;
  padding-left: 20px;
}

/*--FIN SECTION SERVICIOS--*/
/*-------------------------------*/
/*-------------------------------*/
/*--SECTION CONTACTENOS--*/

section#contactenos {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}

section#contactenos form {
  position: relative;
  margin: auto;
  top: 32px;
  width: 910px;
  height: 232px;
  background: white;
}

section#contactenos form input#nombre {
  position: absolute;
  padding: 10px;
  width: 272px;
  height: 45px;
  background: #dce9d7;
  border: 0;
}

section#contactenos form input#email {
  position: absolute;
  top: 81px;
  padding: 10px;
  width: 272px;
  height: 45px;
  background: #dce9d7;
  border: 0;
}

section#contactenos form input#asunto {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 272px;
  height: 45px;
  background: #dce9d7;
  border: 0;
}

section#contactenos form #mensaje {
  position: absolute;
  right: 0px;
  padding: 10px;
  width: 581px;
  height: 128px;
  background: #dce9d7;
  border: 0;
}

section#contactenos form input#enviar {
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 10px;
  width: 604px;
  height: 69px;
  background: #1a1d20;
  border: 0;
  color: white;
}

/*--FIN SECTION CONTACTENOS--*/
/*-------------------------------*/
/*-------------------------------*/
/*--BOTTOM--*/

#bottom {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 190px;
  background: url(../img/backBottom.jpg);
}

#bottom ul li {
  float: left;
  width: 250px;
  height: 190px;
}

#bottom ul li h1 {
  margin: 13px 18px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}

#bottom ul li ol {
  position: relative;
  top: 15px;
  left: 17px;
  width: 190px;
  height: 80px;
  background: rgbsa(255, 0, 0, 0.5);
}

#bottom ul li ol li {
  height: 20px;
  text-align: left;
  list-style: inside;
  font-size: 15px;
  color: white;
  list-style-image: url(../img/list.png);
}

#bottom ul li img {
  position: relative;
  top: 15px;
  left: 15px;
  width: 95px;
  height: 95px;
  border: 4px solid white;
  background: url(../img/imgGaleria.jpg);
  background-size: cover;
}

#bottom ul li ul {
  position: relative;
  top: 11px;
  left: 15px;
  width: 200px;
  height: 40px;
}

#bottom ul li ul li {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: white;
  margin: 5px;
}

#bottom ul li ul li:first-child {
  background: url(../img/facebook.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(2) {
  background: url(../img/iconoGoogle.jpg);
  background-size: cover;
}

#bottom ul li ul li:nth-child(3) {
  background: url(../img/iconoPinterest.jpg);
  background-size: cover;
}

#bottom ul li ul li:last-child {
  background: url(../img/iconoTwitter.jpg);
  background-size: cover;
}

#bottom ul li ul li a {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
/*--FIN BOTTOM--*/
/*-------------------------------*/
/*-------------------------------*/
/*--FOOTER--*/

footer {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 62px;
  text-align: center;
  color: white;
  line-height: 62px;
  font-size: 15px;
  background: black;
}

/*--FIN FOOTER--*/
/*-------------------------------*/
/*-------------------------------*/
/*-- FONDO ANIMADO--*/
@keyframes fondoAnimado {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fondoAnimado {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fondoAnimado {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

#fondo1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../img/background4.jpg);
  animation: fondoAnimado 24s ease-in-out 18s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 18s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 18s infinite;
}

#fondo2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../img/background2.jpg);
  background-size: cover;
  background-position: center top;
  animation: fondoAnimado 24s ease-in-out 12s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 12s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 12s infinite;
}

#fondo3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../img/background3.jpg);
  background-size: cover;
  background-position: center top;
  animation: fondoAnimado 24s ease-in-out 6s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 6s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 6s infinite;
}

#fondo4 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpg);
  animation: fondoAnimado 24s ease-in-out 0s infinite;
  -moz-animation: fondoAnimado 24s ease-in-out 0s infinite;
  -webkit-animation: fondoAnimado 24s ease-in-out 0s infinite;
}

/*--FIN FONDO ANIMADO--*/
/*-------------------------------*/
/*-------------------------------*/
/*-- SLIDE --*/
#slide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 300px;
}

#slide ul li img {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 1s ease-out;
}

#slide ul {
  position: relative;
  width: 1000px;
  top: 0;
  left: 0;
  height: 305px;
  background: url(../img/slide01.jpg) no-repeat;
}

#slide ul li label {
  position: relative;
  z-index: 3;
  top: 303px;
  left: 444px;
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background: rgb(19, 8, 121);
  border: 3px solid white;
  cursor: pointer;
  border-radius: 100%;
}

#slide ul li label:hover {
  background: #aaa;
}
#slide ul li label:active {
  background: magenta;
}

input {
  display: none;
}

#botoneraSlide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 26px;
  background: url(../img/backBotonesSlide.jpg);
}

#slide ul li input#boton-1:checked ~ #foto01 {
  opacity: 1;
}
#slide ul li input#boton-2:checked ~ #foto02 {
  opacity: 1;
}
#slide ul li input#boton-3:checked ~ #foto03 {
  opacity: 1;
}
#slide ul li input#boton-4:checked ~ #foto04 {
  opacity: 1;
}
#slide ul li input#boton-5:checked ~ #foto05 {
  opacity: 1;
}

/*--FIN SLIDE--*/
/*-------------------------------*/
/*-------------------------------*/
/*-- GALERIA --*/
section#galeria {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}

section#galeria ul#cajaGaleria {
  position: relative;
  width: 935px;
  margin: auto;
  top: 18px;
  height: 262px;
  background: white;
  box-shadow: 0 0 30px #222;
}

section#galeria ul#cajaGaleria li div {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: 20px;
  transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}
section#galeria ul#cajaGaleria li div#galeria00 {
  opacity: 1;
}

section#galeria ul#cajaGaleria li input {
  display: none;
}

section#galeria ul#cajaGaleria li div h1 {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  color: white;
  font-weight: 100;
}

section#galeria ul#cajaGaleria li div p {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.4);
  width: 97.2%;
  color: white;
  line-height: 60px;
  padding-left: 20px;
}

section#galeria ul#cajaGaleria li label {
  position: relative;
  z-index: 3;
  top: 22px;
  left: 12px;
  margin: 2px 0px;
  height: 72px;
  width: 151px;
  cursor: pointer;
}

input#btn01:checked ~ div#galeria01 {
  opacity: 1;
  z-index: 1;
}

input#btn02:checked ~ div#galeria02 {
  opacity: 1;
  z-index: 1;
}

input#btn03:checked ~ div#galeria03 {
  opacity: 1;
  z-index: 1;
}

/*--FIN GALERIA--*/
/*-------------------------------*/
