* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;    
    font-family: sans-serif;
}

#acordeon {
    display:block;
}

#acordeon label {
    display:block;
    width:100%;
    line-height: 80px;
    text-align: center;
    background: #ccc;
    border: 1px solid #555;
    cursor: pointer;
}

input {
    display:none;
}

#acordeon h1 {
    padding: 5%;
}

#acordeon img{
    padding: 2% 5%;
}

#acordeon p {
    width: 90%;
    padding: 5%;
    text-align: justify;
} 

#acordeon div{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

input#bloque1:checked ~ div#cont1 {
    height: 620px;
}
input#bloque2:checked ~ div#cont2 {
    height: 620px;
}
input#bloque3:checked ~ div#cont3 {
    height: 620px;
}