* {
    margin:0;
    padding:0;
}

@keyframes fondoAnimado {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0%;
    }
    90% { 
        opacity: 0%;
    }
    100% {
        opacity: 1;
    }

}

@-webkit-keyframes fondoAnimado {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0%;
    }
    90% { 
        opacity: 0%;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fondoAnimado {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0%;
    }
    90% { 
        opacity: 0%;
    }
    100% {
        opacity: 1;
    }

}

#fondo1{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../img/background4.jpg);
    animation: fondoAnimado 24s ease-in-out 18s infinite;
    -moz-animation: fondoAnimado 24s ease-in-out 18s infinite;
    -webkit-animation: fondoAnimado 24s ease-in-out 18s infinite;

}

#fondo2{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../img/background2.jpg);
    background-size:cover;
    background-position: center top;
    animation: fondoAnimado 24s ease-in-out 12s infinite;
    -moz-animation: fondoAnimado 24s ease-in-out 12s infinite;
    -webkit-animation: fondoAnimado 24s ease-in-out 12s infinite;

}

#fondo3{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../img/background3.jpg);
    background-size:cover;
    background-position: center top;
    animation: fondoAnimado 24s ease-in-out 6s infinite;
    -moz-animation: fondoAnimado 24s ease-in-out 6s infinite;
    -webkit-animation: fondoAnimado 24s ease-in-out 6s infinite;

}

#fondo4{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg);
    animation: fondoAnimado 24s ease-in-out 0s infinite;
    -moz-animation: fondoAnimado 24s ease-in-out 0s infinite;
    -webkit-animation: fondoAnimado 24s ease-in-out 0s infinite;
}
