* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

header {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 150px;
    background:silver;
}

#menuTop{
    position: absolute;
    bottom: 0;
    width: 1000px;
    height: 50px;
    background: red;

}
.nivel1 {
    float: left;
    width: 19.2%;
    text-align: center;
    line-height: 42px;
    border: 4px solid white;
    background: linear-gradient(45deg, rgb(204, 0, 255), rgb(255, 0, 200));
}

.nivel1 a{
    color: white;
}

.nivel1:hover{
    background: linear-gradient(135deg, #7e079c, #2c0352);
}

.nivel2{
    left: -4px;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 42px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    background: silver;
    color: black;
}

.nivel2:hover{
    background: blue;
    color: white;
    transition: 0.5s ease-out;
}

#menuTop ul li ul{
    display: none;
}

#menuTop ul li:hover ul{
    display: block;
}