* {
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;    
    font-family: sans-serif;
}

nav#botoneraMovil {
    position: absolute;
    width: 70%;
    height: auto;
    background: white;
    top: 50px;
    left: -100%;
    transition: left 0.5s ease-out;
}

nav#botoneraMovil ul li {
    width: 100%;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid white;
    background: #ccc
}
nav#botoneraMovil ul li:hover {
    background: #aaa
}

label#labelMovil span {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../img/boton1.jpg) no-repeat;
    margin: 5px;
    cursor: pointer;
}

label#labelMovil span:hover {
    background: url(../img/boton2.jpg) no-repeat;
}

input#botonMovil {
    display: none;
}

label#labelMovil h2 {
    position: absolute;
    top: 10px;
    left: 60px;
}

input#botonMovil:checked + label#labelMovil span {
    background: url(../img/boton3.jpg) no-repeat;
}

input#botonMovil:checked ~ nav#botoneraMovil {
    left: 0%;
}
