* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

section#galeria {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 299px;
  background: white;
}

section#galeria ul#cajaGaleria {
  position: relative;
  width: 935px;
  margin: auto;
  top: 18px;
  height: 262px;
  background: white;
  box-shadow: 0 0 30px #222;
}

section#galeria ul#cajaGaleria li div {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: 20px;
  transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}
section#galeria ul#cajaGaleria li div#galeria00 {
  opacity: 1;
}

section#galeria ul#cajaGaleria li input {
  display: none;
}

section#galeria ul#cajaGaleria li div h1 {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  color: white;
  font-weight: 100;
}

section#galeria ul#cajaGaleria li div p {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.4);
  width: 97.2%;
  color: white;
  line-height: 60px;
  padding-left: 20px;
}

section#galeria ul#cajaGaleria li label {
  position: relative;
  z-index: 3;
  top: 22px;
  left: 12px;
  margin: 2px 0px;
  height: 72px;
  width: 151px;
  cursor: pointer;
}

input#btn01:checked ~ div#galeria01 {
  opacity: 1;
  z-index: 1;
}

input#btn02:checked ~ div#galeria02 {
  opacity: 1;
  z-index: 1;
}

input#btn03:checked ~ div#galeria03 {
  opacity: 1;
  z-index: 1;
}
