* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

/* Slide */
#slide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 300px;
}

#slide ul li img {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: opacity 1s ease-out;
}

#slide ul {
  position: relative;
  width: 1000px;
  top: 0;
  left: 0;
  height: 305px;
  background: url(../img/slide01.jpg) no-repeat;
}

#slide ul li label {
  position: relative;
  z-index: 3;
  top: 302px;
  left: 444px;
  float: left;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  background: rgb(19, 8, 121);
  border: 3px solid white;
  cursor: pointer;
  border-radius: 100%;
}

#slide ul li label:hover {
  background: #aaa;
}
#slide ul li label:active {
  background: magenta;
}

input {
  display: none;
}

#botoneraSlide {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 26px;
  background: url(../img/backBotonesSlide.jpg);
}

#slide ul li input#boton-1:checked ~ #foto01 {
  opacity: 1;
}
#slide ul li input#boton-2:checked ~ #foto02 {
  opacity: 1;
}
#slide ul li input#boton-3:checked ~ #foto03 {
  opacity: 1;
}
#slide ul li input#boton-4:checked ~ #foto04 {
  opacity: 1;
}
#slide ul li input#boton-5:checked ~ #foto05 {
  opacity: 1;
}
